.app--card {
    max-width: 390px;
    border: 1px solid var(--lumo-contrast-20pct);
    margin: 0;
}

.app--card--selected {
    border: 1px solid var(--lumo-primary-color);
}

.app--card--icon {
    width: 48px;
}